<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">   
        

	<!-- Template Method -->
	<bean class="com.designedpattern.templateMethod.impl.MethodA" id="methodA"/>
	<bean class="com.designedpattern.templateMethod.impl.MethodB" id="methodB"/>

	<!-- Decorator -->
	<bean class="com.designedpattern.decorator.impl.ComponentA" id="componentA"/>
	<bean class="com.designedpattern.decorator.impl.ComponentB" id="componentB"/>
	<bean class="com.designedpattern.decorator.impl.DecoratorA" id="decoratorA1">
		<property name="component" ref="componentA"/>
	</bean>
	<bean class="com.designedpattern.decorator.impl.DecoratorA" id="decoratorA2">
		<property name="component" ref="componentB"/>
	</bean>
	<bean class="com.designedpattern.decorator.impl.DecoratorB" id="decoratorB1">
		<property name="component" ref="componentA"/>
	</bean>
	<bean class="com.designedpattern.decorator.impl.DecoratorB" id="decoratorB2">
		<property name="component" ref="componentB"/>
	</bean>
	<bean class="com.designedpattern.decorator.impl.DecoratorB" id="decoratorB3">
		<property name="component" ref="decoratorA1"/>
	</bean>
	<bean class="com.designedpattern.decorator.impl.DecoratorB" id="decoratorB4">
		<property name="component" ref="decoratorB3"/>
	</bean>

	<!-- Composite -->
	<bean class="com.designedpattern.composite.impl.LeafA" id="leafA"/>
	<bean class="com.designedpattern.composite.impl.LeafB" id="leafB"/>
	<bean class="com.designedpattern.composite.impl.LeafC" id="leafC"/>
	<bean class="com.designedpattern.composite.impl.CompositeA" id="composite1">
		<property name="comSet">
			<list>
				<ref bean="leafA"/>
				<ref bean="leafB"/>
				<ref bean="leafC"/>
			</list>
		</property>
	</bean>
	<bean class="com.designedpattern.composite.impl.CompositeB" id="composite2">
		<property name="comSet">
			<list>
				<ref bean="leafA"/>
				<ref bean="leafB"/>
				<ref bean="composite1"/>
				<ref bean="leafC"/>
			</list>
		</property>
	</bean>
	<bean class="com.designedpattern.composite.impl.CompositeA" id="composite3">
		<property name="comSet">
			<list>
				<ref bean="leafA"/>
				<ref bean="leafB"/>
				<ref bean="composite2"/>
			</list>
		</property>
	</bean>
	
	<!-- Observer -->
	<bean class="com.designedpattern.observer.impl.ObserverA" id="observerA">
		<property name="target" ref="target1"/>
	</bean>
	<bean class="com.designedpattern.observer.impl.ObserverB" id="observerB">
		<property name="target" ref="target1"/>
	</bean>
	<bean class="com.designedpattern.observer.Target" id="target1">
		<property name="observers">
			<list>
				<ref bean="observerA"/>
				<ref bean="observerB"/>
			</list>
		</property>
	</bean>
	
	<!-- Bridge -->
	<bean class="com.designedpattern.bridge.impl.ImplementorA" id="implA"/>
	<bean class="com.designedpattern.bridge.impl.ImplementorB" id="implB"/>
	<bean class="com.designedpattern.bridge.impl.ImplementorC" id="implC"/>
	<bean class="com.designedpattern.bridge.impl.ComponentA" id="com1">
		<property name="impl" ref="implA"/>
	</bean>	
	<bean class="com.designedpattern.bridge.impl.ComponentA" id="com2">
		<property name="impl" ref="implB"/>
	</bean>	
	<bean class="com.designedpattern.bridge.impl.ComponentA" id="com3">
		<property name="impl" ref="implC"/>
	</bean>
	<bean class="com.designedpattern.bridge.impl.ComponentB" id="com4">
		<property name="impl" ref="implA"/>
	</bean>
	<bean class="com.designedpattern.bridge.impl.ComponentB" id="com5">
		<property name="impl" ref="implB"/>
	</bean>	
	<bean class="com.designedpattern.bridge.impl.ComponentB" id="com6">
		<property name="impl" ref="implC"/>
	</bean>	
	
	
	<!-- Proxy -->
	<bean class="com.designedpattern.proxy.impl.RealData" id="realData"/>
	<bean class="com.designedpattern.proxy.impl.FutureData" id="futureData">
		<property name="realData" ref="realData"/>
	</bean>
	<bean class="com.designedpattern.proxy.impl.Request" id="request">
		<property name="data" ref="futureData"/>
	</bean>
	
</beans>